*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: URL("https://c1.wallpaperflare.com/preview/72/255/582/textures-wood.jpg");
  background-size: cover;
}
.message {
  margin: 20px;
}
header {
  background-color: yellow;
  color: darkslategrey;
  margin: 15px;
  padding: 10px;
}
.questions-scores{
  display: flex;
  justify-content: space-evenly;
}
.span{
  padding: 10px;
  color: white;
  background-color: red;
}
.alertMessage {
  padding: 10px;
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.red {
  background-color: red; 
}
fieldset {
  width: 440px;
  height: auto;
  color: white;
  background-color: darkslategray;
  border-radius: 15px;
}

.question-picture{
  max-width: 400px;
  height: auto; 
}
.currentQuestion{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  font-weight: bolder;
  padding: 20px;
}
.options {
  padding-left: 50px;
  font-size: 20px;
}
.button{
  display: flex;
  flex-direction: row-reverse;
}
button {
  cursor: pointer;
  padding: 10px;
  margin: 20px;
  color: white;
  background-color: tomato;
}